{% extends "registration/registration_base.html" %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block body %}
{% load staticfiles %}

<br />


{% if 'admin.' in request.build_absolute_uri  %}

<div class="row clearfix">
    <div class="col-md-12 back-login">
        <div class="row clearfix">
            {% if form %}
            <div style='margin-left:250px;' class="col-md-3 form-margin">

                <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
                    <div class="form-group">
                        <label>{{ form.username.label_tag }}</label>
                        {{ form.username|attr:"required:required" }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.password.label_tag }}</label>
                        {{ form.password|attr:"required:required" }}
                    </div>
                    <input style="center" type="submit" class="btn btn-lg btn-danger" value="Ingresar" />
                    &nbsp;&nbsp;<a href="{%  url 'auth_password_reset'%}">Olvidé mi contraseña</a>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
            {% else %}
            <div class="col-md-4 alert-margin">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Demasiados intentos fallidos.<br /> Int&eacute;ntalo de
                    nuevo más tarde.</div>
                {% endif %}
            </div>

            {% endif %}
            <div class="col-md-4 alert-margin">
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">Tu usuario y contrase&ntilde;a no son correctos.<br />
                    Int&eacute;ntalo de nuevo.</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 login-shadow"></div>

{% else %}

<div class="header-wrapper header-transparent">

    <header id="header">

        <div class="header-inner">
            <div class="container">
                <div class="main-nav">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-default nav-left" role="navigation">

                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="navbar-header">
                                        {% if 'sc.loteriamovil.com.ar' in request.build_absolute_uri  %}
                                        <div class="logo">
                                            <a href="http://loteriadesantacruz.gob.ar/">
                                                <img src="{% static 'img_login/logo.jpg' %}" class="img-responsive"
                                                    alt="Loteria de Santa Cruz" />
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if 'lp.loteriamovil.com.ar' in request.build_absolute_uri  %}
                                        <div class="logo">
                                            <a href="http://loteriadesantacruz.gob.ar/">
                                                <img src="{% static 'img_login/logo_lp.jpg' %}" class="img-responsive"
                                                    alt="Loteria de la Pampa" />
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if 'a24.agencia24.com.ar' in request.build_absolute_uri  %}
                                        <div class="logo">
                                            <a href="http://www.agencia24.com.ar/">
                                                <img src="{% static 'img_login/logo_cb.png' %}" class="img-responsive"
                                                    alt="Agencia 24" />
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if 'jugaya.com' in request.build_absolute_uri  %}
                                        <div class="logo">
                                            <a href="http://help.jugaya.com/">
                                                <img src="{% static 'img_login/logo_sf.png' %}" class="img-responsive"
                                                    alt="Juega ya" />
                                            </a>
                                        </div>
                                        {% endif %}
                                        {% if 'www.mibingomovil.com.ar' in request.build_absolute_uri  %}
                                        <div class="logo">
                                            <a href="http://help.jugaya.com/">
                                                <img src="{% static 'img_login/logo_ca.png' %}" class="img-responsive"
                                                    alt="Mi bingo movil" />
                                            </a>
                                        </div>
                                        {% endif %}

                                    </div>

                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    {% if 'a24.agencia24.com.ar' in request.build_absolute_uri or 'jugaya.com' in request.build_absolute_uri  %}
                                    <div class="loteria">Juga Ya</div>
                                    {% else %}
                                    {% if 'www.mibingomovil.com.ar' in request.build_absolute_uri %}
                                    <div class="loteria" style="color: #023183;">Ca.Pre.S.Ca</div>
                                    {% else %}
                                    <div class="loteria">LOTERIA MOVIL</div>
                                    {% endif %}

                                    {% endif %}
                                </div>


                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="quote-btn">

                                        {% if 'www.mibingomovil.com.ar' in request.build_absolute_uri %}
                                        <a href="{% url 'bet:FAQ' %}" class="btn btn-primary float-right"
                                            style='background-color: #023183;'>FAQ</a>
                                        {% else %}
                                        <a href="{% url 'bet:FAQ' %}" class="btn btn-primary float-right">FAQ</a>
                                        {% endif %}

                                    </div>
                                    <div class="quote-btn">
                                        {% if 'www.mibingomovil.com.ar' in request.build_absolute_uri %}
                                        <a href="{% url 'bet:como_se_juega' %}" class="btn btn-primary float-right"
                                            style='background-color: #023183;'>CÓMO JUGAR</a>
                                        {% else %}
                                        <a href="{% url 'bet:como_se_juega' %}" class="btn btn-primary float-right">CÓMO
                                            JUGAR</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

</div>

<div class="tp-banner-container fullwidthbanner">
    <div id="rev-slider" class="tp-banner">
        <ul>
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="winter">

                {% if 'sc.loteriamovil.com.ar' in request.build_absolute_uri  %}
                <img src="{% static 'img_login/slider/slide-01_sc.jpg' %}" alt='' data-bgfit="cover"
                    data-bgposition="center center" data-bgrepeat="no-repeat">
                {% endif %}
                {% if 'lp.loteriamovil.com.ar' in request.build_absolute_uri  %}
                <img src="{% static 'img_login/slider/slide-01_lp.jpg' %}" alt='' data-bgfit="cover"
                    data-bgposition="center center" data-bgrepeat="no-repeat">
                {% endif %}
                {% if 'a24.agencia24.com.ar' in request.build_absolute_uri  %}
                <img src="{% static 'img_login/slider/slide-01_a24.jpg' %}" alt='' data-bgfit="cover"
                    data-bgposition="center center" data-bgrepeat="no-repeat">
                {% endif %}
                {% if 'jugaya.com' in request.build_absolute_uri  %}
                <img src="{% static 'img_login/slider/slide-01_a24.jpg' %}" alt='' data-bgfit="cover"
                    data-bgposition="center center" data-bgrepeat="no-repeat">
                {% endif %}
                {% if 'www.mibingomovil.com.ar' in request.build_absolute_uri  %}
                <img src="{% static 'img_login/slider/slider-01_ca.png' %}" alt='' data-bgfit="cover"
                    data-bgposition="center center" data-bgrepeat="no-repeat">
                {% endif %}

            </li>
        </ul>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row mb-0 negative-top-margin">
            <div class="col-md-4 col-sm-4 col-xs-1">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 inputs_block">
                <div class="contact-form">
                    <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
                        <input type="hidden" name="next" value="/" />

                        <div class="form-group">
                            <label>
                                EMAIL
                            </label>
                        </div>
                        <input id='id_username' name="username" type="text" class="wpcf4-text form-control"
                            id="usuario-name">
                        <div class="form-group">
                            <label>
                                CONTRASEÑA
                            </label>
                        </div>
                        <input id='id_password' name="password" type="password" class="wpcf4-text form-control"
                            id="pass-user">
                        <br />

                        {% if 'www.mibingomovil.com.ar' in request.build_absolute_uri %}
                        <input type="submit" class="wpcf7-submit btn btn-primary float-left comment-reply"
                            style='background-color: #023183;' value="INGRESAR" />
                        {% else %}
                        <input type="submit" class="wpcf7-submit btn btn-primary float-left comment-reply"
                            value="INGRESAR" />
                        {% endif %}


                        <br />
                        <br />
                        <br />

                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">Tu usuario y contrase&ntilde;a no son
                            correctos.<br /> Int&eacute;ntalo de nuevo.</div>
                        {% endif %}

                    </form>
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-4 col-xs-8">
            <div class="feature-box style-1">
            </div>
        </div>
    </div>
</div>
</div>


{% if 'sc.loteriamovil.com.ar' in request.build_absolute_uri  %}

<div class="page-content white_0">
    <div class="container">
        <div>
            <div class="col-md-4 col-sm-4">
                <img src="{% static 'img_login/tele-bingo.jpg' %}" class="img-responsive" alt="Tele Bingo">
            </div>

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'img_login/mini-bingo.jpg' %}" class="img-responsive" alt="Mini Bingo">
            </div>

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'img_login/re-bingo.jpg' %}" class="img-responsive" alt="Re Bingo">
            </div>
        </div>
    </div>
</div>

{% endif %}


{% if 'lp.loteriamovil.com.ar' in request.build_absolute_uri  %}

<div class="page-content white_0">
    <div class="container">
        <div>
            <div class="col-md-4 col-sm-4">
                <img src="{% static 'img_login/tele-bingo_lp.jpg' %}" class="img-responsive" alt="Tele Bingo">
            </div>

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'img_login/mini-bingo_lp.jpg' %}" class="img-responsive" alt="Mini Bingo">
            </div>

            <div class="col-md-4 col-sm-4">
                <img src="{% static 'img_login/re-bingo_lp.jpg' %}" class="img-responsive" alt="Re Bingo">
            </div>
        </div>
    </div>
</div>

{% endif %}

{% if 'a24.agencia24.com.ar' in request.build_absolute_uri  %}

<div class="page-content white_0">
    <div class="container">
        <div>
            <div class="col-md-3 col-sm-3">
                <img src="{% static 'img_login/A24_quiniela.jpg' %}" class="img-responsive" alt="Tele Bingo">
            </div>

            <div class="col-md-3 col-sm-3">
                <img src="{% static 'img_login/A24_quini6.jpg' %}" class="img-responsive" alt="Mini Bingo">
            </div>

            <div class="col-md-3 col-sm-3">
                <img src="{% static 'img_login/A24_loto.jpg' %}" class="img-responsive" alt="Re Bingo">
            </div>
            <div class="col-md-3 col-sm-3">
                <img src="{% static 'img_login/A24_brinco.jpg' %}" class="img-responsive" alt="Re Bingo">
            </div>
        </div>
    </div>
</div>

{% endif %}


{% if 'jugaya.com' in request.build_absolute_uri  %}

<div class="page-content white_0">
    <div class="container">
        <div>
            <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
                <img src="{% static 'img_login/A24_quiniela.png' %}" class="img-responsive" alt="Tele Bingo">
            </div>

            <div class="col-md-2 col-sm-2">
                <img src="{% static 'img_login/A24_quini6.jpg' %}" class="img-responsive" alt="Mini Bingo">
            </div>

            <div class="col-md-2 col-sm-2">
                <img src="{% static 'img_login/A24_loto.jpg' %}" class="img-responsive" alt="Re Bingo">
            </div>
            <div class="col-md-2 col-sm-2">
                <img src="{% static 'img_login/A24_brinco.jpg' %}" class="img-responsive" alt="Re Bingo">
            </div>

            <div class="col-md-2 col-sm-2">
                <img src="{% static 'img_login/A24_loto5plus.png' %}" class="img-responsive" alt="Re Bingo">
            </div>
        </div>
    </div>
</div>

{% endif %}
{% if 'www.mibingomovil.com.ar' in request.build_absolute_uri  %}

<div class="page-content white_0">
    <div class="container">
        <div style='margin-top: 20px'>
            <div class="col-md-12 col-sm-12">
                <img src="{% static 'img_login/banner_ca.png' %}" class="img-responsive" alt="Tele Bingo">
            </div>

        </div>
    </div>
</div>

{% endif %}
<div class="page-content white_0" style="padding-top:10px;padding-bottom:10px;">
    <div class="container">
        {% if 'sc.loteriamovil.com.ar' in request.build_absolute_uri  %}
        <img src="{% static 'img_login/banner_web_sc.gif' %}" class="img-responsive" alt="">
        {% endif %}
        {% if 'lp.loteriamovil.com.ar' in request.build_absolute_uri  %}
        <img src="{% static 'img_login/banner_web_lp.gif' %}" class="img-responsive" alt="">
        {% endif %}
        {% if 'a24.agencia24.com.ar' in request.build_absolute_uri  %}
        <img src="{% static 'img_login/banner_web_a24.gif' %}" class="img-responsive" alt="">
        {% endif %}
        {% if 'jugaya.com' in request.build_absolute_uri  %}
        <img src="{% static 'img_login/banner_web_a24.gif' %}" class="img-responsive" alt="">
        {% endif %}

    </div>
</div>
<div id="footer-wrapper">
    <div id="footer1">
        <div class="container">

            {% if 'sc.loteriamovil.com.ar' in request.build_absolute_uri  %}

            <div class="row">

                <div class="col-md-5 col-sm-12">
                    <a target="_blank" href="http://loteriadesantacruz.gob.ar/">
                        <img src="{% static 'img_login/logo-pie.jpg' %}" class="img-responsive"
                            alt="Builder Construction HTML Template" />
                    </a>
                    <div class="col-md-8 col-sm-10 pt-12">
                        <p style="color:white;">© Lotería de Santa Cruz 2018. Todos los derechos reservados</p>
                    </div>
                    <div class="col-md-12 col-sm-12 pt-12">
                        <p style="color:white;font-size:20px;">Soporte técnico y consultas sobre la app <a
                                style='color:white;;font-size:20px;' class="tp-white" href="#">Email:
                                sc@loteriamovil.com.ar</a> <br /> Whatsapp:+54 92966445360</p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/map.svg' %}" class="img-responsive" alt="map icon" />
                        </span>
                        <span style='color:white;' class="tp-white">DIRECCIÓN:</br> Períto Moreno 116 esq. Zapiola</br>
                            CP (9400) Río Gallegos</br>
                            Tel. (02966) 422631</span>
                    </div>

                </div>

                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/email.svg' %}" class="img-responsive" alt="email icon" />
                        </span>
                        <a style='color:white;' class="tp-white" href="#">Email: contacto@loteriadesantacruz.gob.ar</a>
                        <br />
                        <br />
                        <a href="{% url 'bet:terms' %}" style='background:white;color:gray;'
                            class="btn btn-primary ">TÉRMINOS Y CONDICIONES</a>

                    </div>
                </div>
            </div>
            {% endif %}

            {% if 'lp.loteriamovil.com.ar' in request.build_absolute_uri  %}

            <div class="row">

                <div class="col-md-5 col-sm-12">
                    <a target="_blank" href="http://loteriadesantacruz.gob.ar/">
                        <img src="{% static 'img_login/logo-pie_lp.jpg' %}" style="valign:middle;"
                            class="img-responsive" alt="Builder Construction HTML Template" />
                    </a>
                    <div class="col-md-8 col-sm-10 pt-12">
                        <p style="color:white;">© Lotería de La Pampa 2018. Todos los derechos reservados</p>
                    </div>
                    <div class="col-md-8 col-sm-10 pt-12">
                        <p style="color:white;">Soporte técnico y consultas sobre la app <a style='color:white;'
                                class="tp-white" href="#">Email: lp@loteriamovil.com.ar</a></p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/map.svg' %}" class="img-responsive" alt="map icon" />
                        </span>
                        <span style='color:white;' class="tp-white">DIRECCIÓN:</br> Calle Pellegrini 385, 1° y 2°
                            Piso</br>
                            CP (6300) Santa Rosa, La Pampa</br>
                            Tel. (02954) 43-3052</span>
                    </div>

                </div>

                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/email.svg' %}" class="img-responsive" alt="email icon" />
                        </span>
                        <a style='color:white;' class="tp-white" href="#">Email: lp@loteriamovil.com.ar</a>
                        <br />
                        <br />
                        <a href="{% url 'bet:terms' %}" style='background:white;color:gray;'
                            class="btn btn-primary ">TÉRMINOS Y CONDICIONES</a>

                    </div>
                </div>
            </div>
            {% endif %}
            {% if 'a24.agencia24.com.ar' in request.build_absolute_uri  %}

            <div class="row">

                <div class="col-md-5 col-sm-12">
                    <a target="_blank" href="http://www.agencia24.com.ar/">
                        <img src="{% static 'img_login/logo_cb.png' %}" style="valign:middle;" class="img-responsive"
                            alt="Builder Construction HTML Template" />
                    </a>
                    <div class="col-md-8 col-sm-10 pt-12">
                        <p style="color:white;">© Agencia 24 2018. Todos los derechos reservados</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/map.svg' %}" class="img-responsive" alt="map icon" />
                        </span>
                        <span style='color:white;' class="tp-white">DIRECCIÓN:</br> Av. Recta Martinolli 6782 of 3</br>
                            CP (5147) Cordoba, Arg.</br>
                        </span>
                    </div>

                </div>

                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/email.svg' %}" class="img-responsive" alt="email icon" />
                        </span>
                        <a style='color:white;' class="tp-white" href="#">Email: contacto@agencia24.com.ar</a>
                        <br />
                        <br />
                        <a href="{% url 'bet:terms' %}" style='background:white;color:gray;'
                            class="btn btn-primary ">TÉRMINOS Y CONDICIONES</a>

                    </div>
                </div>
            </div>
            {% endif %}

            {% if 'jugaya.com' in request.build_absolute_uri  %}

            <div class="row">

                <div class="col-md-5 col-sm-12">
                    <a target="_blank" href="http://help.jugaya.com/">
                        <img src="{% static 'img_login/logo_pie_sf.png' %}" style="valign:middle;"
                            class="img-responsive" alt="Builder Construction HTML Template" />
                    </a>
                    <div class="col-md-8 col-sm-10 pt-12">
                        <p style="color:white;">© Juga Ya 2018. Todos los derechos reservados</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/map.svg' %}" class="img-responsive" alt="map icon" />
                        </span>
                        <span style='color:white;' class="tp-white">DIRECCIÓN:</br> Colombres Bis 1224</br>
                            CP (S2006) Rosario, Santa Fe.</br>
                        </span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/email.svg' %}" class="img-responsive" alt="email icon" />
                        </span>
                        <a style='color:white;' class="tp-white" href="#">Email: contacto@jugaya.com</a>
                        <br />
                        <br />
                        <a href="{% url 'bet:terms' %}" style='background:white;color:gray;'
                            class="btn btn-primary ">TÉRMINOS Y CONDICIONES</a>

                    </div>
                </div>
            </div>
            {% endif %}

            {% if 'www.mibingomovil.com.ar' in request.build_absolute_uri  %}

            <div class="row">

                <div class="col-md-5 col-sm-12">
                    <a target="_blank" href="http://help.jugaya.com/">
                        <img src="{% static 'img_login/logo_ca.png' %}" style="valign:middle;" class="img-responsive"
                            alt="Builder Construction HTML Template" />
                    </a>
                    <div class="col-md-8 col-sm-10 pt-12">
                        <p style="color:white;">© Mi Bingo movil 2020. Todos los derechos reservados</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/map.svg' %}" class="img-responsive" alt="map icon" />
                        </span>
                        <span style='color:white;' class="tp-white">DIRECCIÓN:</br> Mota Botello 854</br>
                            CP (4700) San Fernando del Valle de Catamarca.</br>
                        </span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-5">
                    <div class="footer-info">
                        <span class="icon-container">
                            <img src="{% static 'img_login/svg/email.svg' %}" class="img-responsive" alt="email icon" />
                        </span>
                        <a style='color:white;' class="tp-white" href="#">Email: caprescatamarca@gmail.com</a>
                        <br />
                        <br />
                        <a href="{% url 'bet:terms' %}" style='background-color: #023183;color:white;'
                            class="btn btn-primary ">TÉRMINOS Y CONDICIONES</a>

                    </div>
                </div>
            </div>
            {% endif %}


        </div>
    </div>
</div>

<div id="copyright-container">
    <div class="container">
        <div class="row">



        </div>
    </div>
</div>

<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'charge_credit/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.scripts.min.js' %}"></script>
<script src="{% static 'js/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'js/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'js/retina.js' %}"></script>
<script src="{% static 'js/include.js' %}"></script>

<script>
    /* <![CDATA[ */
    jQuery(document).ready(function ($) {
        'use strict';

        jQuery('#rev-slider').revolution(
            {
                dottedOverlay: "none",
                delay: 9000,
                startwidth: 1170,
                startheight: 370,
                hideThumbs: 200,
                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 3,
                navigationType: "none",
                navigationArrows: "solo",
                navigationStyle: "preview5",
                touchenabled: "on",
                onHoverStop: "off",
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                keyboardNavigation: "on",
                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",
                spinner: "spinner0",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                forceFullWidth: "off",
                fullScreenAlignForce: "off",
                minFullScreenHeight: "400",
                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                hideTimerBar: "on"
            });


    });
            /* ]]> */
</script>

</div>

</div>

{% endif %}


{% endblock %}