{% extends 'emails/base_email.html' %}
{% load humanize %}

{% block content %}
<p>Se han acreditado <strong>${{ movement.amount|intcomma }}</strong> a tu cuenta.<br>
&iexcl;Ingres&aacute; ahora y hac&eacute; tu apuesta!</p>

<p>Detalles de la carga:</p>
<ul>
    <li>Método: {{ movement.get_method_display }}{% if movement.type %} - {{ movement.type}}{% endif %}</li>
    {% if movement.number %}<li>Número de transacción: {{ movement.number }}</li>{% endif %}
    {% if movement.amount != movement.initial %}
        <li>Monto especificado: ${{ movement.original|intcomma }}</li>
        <li>Monto recibido: ${{ movement.amount|intcomma }}</li>
    {% else %}
        <li>Monto: ${{ movement.amount|intcomma}}</li>
    {% endif %}
    {% if movement.external_url %}<li>Cupón mercadopago: {{ movement.external_url }}</li>{% endif %}
</ul>
{% endblock %}
